.dashboard{
    padding: 0;
    margin: 0;
}

body{
    
    background: #E5E5E5;
}

.dropdown-toggle::after{
    display:none;
}

.sidebar{
    position: fixed;
    min-height: 100%;
    background: #ddd;
    width: 200px;
    background: white;
}

.user-name{
    margin: 0;
    justify-content: space-between;
    padding: 23px;
}

.user-name h6{
    margin-top: 12px;
    color: white;
}

.main-sidebar{
    /* min-height: 700px; */
    margin: 0;
    padding-top: 45px;
}

.main-sidebar .option{
    padding: 10px 20px;
    border-left: 5px solid transparent;
    width: 100%;
    margin-bottom: 50px;
}

.sidebar-mini .main-sidebar .option{
    border: none;
    border-right: 5px solid transparent;
}

.main-sidebar .option span{
    position: relative;
    top: 2px;
    left: 20px;
    color: #808080;
}

.main-sidebar .option.active{
    border-left: 5px solid #35B2F9;
}

.sidebar-mini .main-sidebar .option.active{
    border-left: none;
    border-right: 5px solid #35B2F9;
}

.header{
    margin: 0;
    height: 84px;
    padding: 15px;
    position: relative;
    background: white;
}

.header-title{
    padding: 10px 35px;
}

.header-items{
    position: absolute;
    right: 15px;
    top: 20px;
    display: none;
}

.sidebar{
    display: none;
}

.fade-out{
    opacity: 0.5;
    background: #fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.navbar{
    position: absolute;
    top: 31%;
    right: 20px;
}

.main-dashboard{
    margin: 0;
    padding-left: 0px;
}

.other{
    max-width: 1680px;
    padding: 24px;
    margin: auto;
    color: #808080;
}

.other > div{
    margin-bottom: 45px;
}

@media(min-width: 992px){
    .sidebar{
        display: block;
    }
    .navbar{
        display: none;
    }
    .header-items{
        display: block;
    }
    .main-dashboard{
        padding-left: 200px;
    }
    .other{
        padding: 40px;
    }
    .fade-out{
        z-index: 1;
    }
    .sidebar-mini{
        display: none;
    }
}

/* @media(min-width: 768px){
    .main-dashboard{
        position: relative;
    }
} */

.sidebar-mini{
    min-height: 100%;
    width: 0;
    background: white;
    float: right;
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
    transition: width 100ms linear;
}

.header-items .invite{
    border-radius: 2px;
    position: relative;
    top: -5px;
    padding: 14px;
    margin-right: 10px;
    border: 1px solid #35B2F9;
}

.header-items .create{
    border-radius: 2px;
    position: relative;
    top: -5px;
    padding: 14px;
    margin-left: 10px;
    margin-right: 50px;
    background: #35b2f9;
    color: white;
}

.header-items .notification img,
.header-items .exit img{
    padding: 5px;
    margin-right: 25px;
    margin-left: 25px;
}

.header-items h6{
    position: relative;
    top: 3px;
}

.header-items .create h6{
    padding-right: 24px;
}

.header-items .invite h6{
    padding-left: 12px;
}

.header-items .notification{
    position: relative;
    top: 5px;
}

.header-items .notification .dot{
    position: absolute;
    margin: 0;
    right: 25%;
    top: 5%;
}

.header-items .exit{
    position: relative;
    top: 6px;
}

.pending-header > h3,
.profit-header > h3,
.income-header > h3,
.expenses-header > h3{
    color: #808080;
}

.pending-content,
.profit-content,
.income-content,
.expenses-content{
    margin-top: 15px;
    border-radius: 6px;
    padding: 25px;
    height: 295px;
    background: white;
}

.time-box{
    background: #F4F8F9;
    /* width: 270px; */
    padding: 5px;
    border-radius: 6px;
    float: right;
}

.time-box > div{
    cursor: pointer;
    padding: 10px 15px;
    color: rgba(80,80,80,0.45);
    font-size: 13px;
}

.time-box > div.active{
    transition: 300ms ease-in-out;
    background: white;
    color: #454749;
    border-radius: 3px;
}

.dropdown.col-4{
    display: block;
    width: 50px;
}

.dropdown.col-4 ul{
    background: #f4f8f9;
    min-width: unset;
    width: 70%;
    border-radius: 4px;
    padding: 5px;
}

.dropdown.col-4 button,
.dropdown.col-4.show button,
.dropdown.col-4.show button:focus,
.dropdown.col-4.show button:active{
    float: right;
    padding: 10px 14px;
    background: white!important;
    color: #454749!important;
    border: 5px solid rgba(0, 0, 0, 0.03)!important;
    border-radius: 4px;
    box-shadow: none!important;
}

.dropdown.col-4 button img{
    margin-left: 16px;
}

.dropdown.col-4 li{
    padding: 10px 15px;
    font-size: 10px;
    color: #454749;
}

.dropdown.col-4 li.active{
    transition: 300ms ease-in-out;
    background: white;
    color: #454749;
    border-radius: 3px;
}

.time-box-div{
    display: none;
}

@media(min-width: 1264px){

    .dropdown.col-4{
        display: none;
    }

    .time-box-div{
        display: block;
    }
}

.pending .coloring{
    height: 140px;
    width: 99.5%;
    margin-top: 15px;
}

.pending .base{
    background: #f4f8f9;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

.pending .colored{
    height: 100%;
    border-radius: 3px 0px 0px 3px;
    width: 70%;
    background: #FDCEAC;
}

.pending .figures,
.profit .figures{
    margin-top: 15px;
    padding-bottom: 15px;
}

.pending .figures{
    margin-left: -8.33%;
}

.profit .figures{
    margin-top: 8px;
    padding: 0 10px;
}

.pending .figures > div{
    text-align: right;
    width: 9.09%;
    float: left;
    color: #c9c9c9;
    font-size: 12px;
}

.profit .figures > div{
    color: #c9c9c9;
    font-size: 9px;
    text-align: center;
    padding: 0;
    padding-bottom: 10px;
}

.profit .graph{
    background: linear-gradient(to bottom left,#35B2F9 ,rgba(53, 178, 249, 0.69) 64%,rgba(53, 178, 249, 0.2));
    height: 160px;
    width: 99.5%;
    margin-top: 15px;
    border-radius: 6px;
}

.income .listing,
.expenses .listing{
    color: #808080;
    font-size: 14px;
}

.income .listing .col-6,
.expenses .listing .col-6{
    margin-bottom: 20px;
    font-size: 10px;
}

.expenses .listing .col-12{
    margin-bottom: 25px;
    color: rgba(0,0,0,0.5);
}

.listing .col-6 span{
    margin-left: 10px;
}

.pie{
    padding: 0;
}

.expenses .listing{
    padding-top: 30px;
}
