*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Trajan, serif;
    color: #040404;
}

@font-face{
    src: url("../fonts/Trajan-Pro.ttf");
    font-family: Trajan;
}

@font-face{
    src: url("../fonts/c-book.ttf");
    font-family: circular;
}

.circular{
    font-family: circular, serif;
}

body{
    overflow-x: hidden;
    min-height: 100vh;
    position: relative;
    z-index: -20;
}

li{
    list-style: none;
}

button{
    cursor: pointer;
}

a,
a:hover,
a:visited,
a:active{
    text-decoration: none;
}

button{
    white-space: nowrap;
}

.bold{
    font-weight: bold;
}

h1{
    font-size: 40px;
}
h2{
    font-size: 32px;
}
h3{
    font-size: 28px;
}
h4{
    font-size: 18px;
}
h5{
    font-size: 12px;
}
h6{
    font-size: 1.3pc;
}

h6 br{
    line-height: 130%;
}

@media(min-width: 375px){
    h6{
        font-size: 1.5pc;
    }
}

@media(min-width: 400px){
    h6{
        font-size: 1.8pc;
    }
}

@media(min-width: 468px){
    h6{
        font-size: 24px;
    }
}

@media(min-width: 568px){
    h6{
        font-size: 28px;
    }
}

@media(min-width: 768px){
    h1{
        font-size: 90px;
    }
    h2{
        font-size: 40px;
    }
    h3{
        font-size: 32px;
    }
    h4{
        font-size: 20px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 30px;
    }
}

@media(min-width: 1024px){
    h6{
        font-size: 36px;
    }
}

.container-fluid{
    padding: 0;
    max-width: 1680px;
    position: relative;
    z-index: -10;
}

.carousel{
    height: 100vh;
    min-height: 500px;
    background: rgba(0, 0, 0, 0.2);
}

.slides{
    width: 100%;
    margin: auto;
}

.slider{
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slides div,
.slides{
    text-align: center;
    height: 100vh;
    min-height: 500px;
}

.slides .slider{
    padding: 80px 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.slides.index .slider{
    padding: 20px;
}

.slider.first{
    background-color: #000;
}

.slider.first img.saeon-img{
    width: 90%;
    max-width: 500px;
    position: absolute;
    top: 4vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.slider.first img.saeon-img{
    top: -4vh
}

@media(min-width: 768px){
    .slides .slider{
        padding: 100px 80px;
    }

    .slider.first img.saeon-img{
        height: 60%;
        width: auto;
        max-width: unset;
    }
}

.slides h6 span.botbc{
    color: #CEC40D;
}

.slides h6{
    bottom: 0;
    color: #CEC40D;
    position: absolute;
    top: -10%;
    left: 0;
    right: 0;
    margin: auto;
    height: 100px;
    height: fit-content;
    padding: 0 5%;
}

.slides img{
    display: block;
    text-align: center;
    margin: auto;
}

/* img.mixtape,
img.birth, */
.slider .top,
img.saeon{
    position: absolute;
    left: 0;
    right: 0;
}

.slider .top{
    bottom: 20vh;
    width: 95%;
    margin: auto;
    min-height: 0;
    height: 0;
    max-width: 500px;
}

.slider .top > div{
    position: relative;
    min-height: 0;
    height: 0;
}

.slider a{
    padding: 5px 20px;
    background: #CEC40D;
    border-radius: 20px;
    border: 1px solid transparent;
    color: #000;
    position: absolute;
    bottom: 5vh;
    left: 0;
    font-weight: bold;
    right: 0;
    width: fit-content;
    margin: auto;
    transition: 300ms ease-in-out;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif
}

.slider a:hover{
    background: black;
    color: #CEC40D;
    border: 1px solid #CEC40D;
    transition: 300ms ease-in-out;
}

img.mixtape{
    float: right;
    margin-right: 9px;
    margin-top: -6px;
    width: 30%;
    min-width: 80px;
    max-width: 100px;
}

img.birth{
    width: 100%;
    max-width: 500px;
}

img.saeon{
    width: 50%;
    max-width: 250px;
    min-width: 150px;
    top: 10%;
}

.slick-arrow{
    position: absolute;
    top: 45%;
    padding: 10px;
    z-index: 2;
    cursor: pointer;
}

.slick-arrow.prev-arrow{
    left: 0;
}

.slick-arrow.next-arrow{
    right: 0;
}

.lower-body{
    background: #CEC40D;
    padding-top: 60px;
}

.videos{
    width: 90%;
    margin: auto;
    margin-bottom: 150px;
    max-width: 1280px;
}

.videos iframe{
    width: 90%;
    margin: auto;
    margin-bottom: 100px;
    display: block;
    min-height: 315px;
}

.videos .vr{
    display: none;
    height: 450px;
    position: relative;
    top: 80px;
    left: 0px;
    border-left: 1px solid #333;
}

.spotify{
    text-align: center;
}

.spotify iframe{
    display: none;
}

#spotify-frame{
    display: inline;
}

.videos .spotify iframe{
    margin-top: 8px;
    max-height: 400px
}

@media(min-width: 768px){

    .videos .youtube{
        margin-left: -5px;
    }
    .videos .vr{
        display: block;
    }
}

.videos .video-text{
    text-align: center;
    width: 90%;
    margin: auto;
    min-height: 130px;
}

.videos .video-text h4{
    line-height: 40px;
}

.video-text .dropdown button{
    position: relative;
    z-index: 1;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    background: transparent none repeat scroll 0px 0px;
    text-align: left;
    border-image: none;
    padding: 10px 0px;
    font-size: 20px;
    font-family: Trajan;
}

.video-text .dropdown button span:first-child{
    position: absolute;
    z-index: -1;
    right: 30px;
    top: 20%;
}

.video-text .dropdown button span:last-child{
    position: absolute;
    right: 10px;
    top: 20%;
}

.video-text .dropdown ul{
    z-index: 10;
    background: #CEC40D;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 0;
    left: unset;
    right: 0;
    min-width: 0px;
    border-radius: 0px;
    border: none;
}

.video-text .dropdown li{
    margin-bottom: 10px;
    cursor: pointer;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
}

.video-text .dropdown li:last-child{
    margin: 0;
}

.video-text .dropdown li a{
    color: black;
    display: block;
}

.video-text .dropdown li img{
    padding: 10px 15px;
    cursor: pointer;
    margin: auto;
    display: block;
}

.video-text .dropdown li:hover img{
    opacity: 0.7;
    transition: 200ms ease-in-out;
}

.video-text img:not(.img-reg){
    width: 50px;
}

.video-text button img:not(.img-reg){
    width: 25px;
}

.dropdown-backdrop{
    z-index: 9;
}

.dropdown-toggle::after{
    display: none;
}

/* sign up */

.signup{
    margin: auto;
    width: 90%;
    max-width: 550px;
    text-align: center;
    padding-bottom: 50px;
}

.signup-text{
    margin-bottom: 30px;
}

.signup .signup-text h3{
    line-height: 40px;
}

.signup table{
    width: 100%;
}

.signup input{
    width: 85%;
    float: left;
    padding: 15px 0;
    border: none;
    background: transparent;
    border-bottom: 3px solid black;
}

.signup button{
    width: 100%;
    float: right;
    border: none;
    color: #000;
    background: transparent;
    border-bottom: 3px solid black;
    padding: 15px 0px;
}

input:focus,
button:focus{
    box-shadow: none;
    outline: none;
}

input::placeholder{
    color: #000;
}
input:-moz-placeholder{
    color: #000;
}
input::-webkit-input-placeholder{
    color: #000;
}
input:-ms-input-placeholder{
    color: #000;
}
input::-moz-placeholder{
    color: #000;
}


/* Enter site */

.enter-site h5{
    padding: 20px 40px;
    background: black;
    color: #CEC40D;
    width: fit-content;
    width: -moz-fit-content;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 5px;
    transition: color 200ms linear;
}

.enter-site h5:hover{
    color: #eee;
    transition: color 500ms linear;
}

/* footer */

.footer{
    background: #CEC40D;
    margin: 0;
    position: relative;
    top: -2px;
    padding: 0px 20px;
}

.footer .socials{
    width: fit-content;
    width: -moz-fit-content;
    justify-content: center;
    margin: auto;
    margin-bottom: 30px;
}

.footer .socials > div{
    float: left;
}

.footer .socials img{
    padding: 5px;
    margin-right: 10px;
    height: 25px;
    width: auto;
}

.footer .socials img:hover{
    opacity: 0.8;
}

.footer .socials div:last-child img{
    margin: 0;
}

.footer .copyright h5{
    text-align: center;
    padding-bottom: 25px;
    color: #000;
    letter-spacing: -0.36px;
}

.footer iframe{
    position: relative;
    top: -1px;
}

/* countdown */


/* .container-fluid.clock{
    position: absolute;
    top: 0;
    width: 100%;
    background: #333;
    height: 100vh;
    min-height: 500px;
    display: flex;
    justify-content: center;
}

.countdown{
    margin: auto;
}

.countdown #clock{
    font-family: sans-serif;
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

.countdown h2 span{
    padding: 20px 10px;
    color: black;
    border-radius: 3px;
    background: #CEC40D;
    margin-bottom: 20px;
}

.countdown .smalltext{
    padding-top: 30px;
    font-size: 16px;
    font-family: circular;
} */